<h1>Bienvenue sur ton profil <%=@user.first_name%> </h1>
<p> Ton prénom: <%=@user.first_name%></p>
<p> Ton nom:  <%=@user.last_name%></p>
<p> Ta super description: <%=@user.description%> </p>
<p> Ton email: <%=@user.email%></p>
<p><%= link_to 'Changer mot de passe', edit_user_registration_path%></p>
<p><%= link_to 'Editer mon profil', edit_user_path(@user.id)%></p>
<% if @user.shows.length != 0 %>
<h2> Tes events : </h2>
<% @user.shows.each do |event| %>
  <%= event.title %>
  <a href="<%= event_path(event.id) %>" class="btn bg-dark text-light">Voir l'événement</a>
  
<% end %>
<% end %>
<p><a href="<%= new_event_path%>" class="btn bg-dark text-light">Créer un événement</a></p>
  


