<h1>Voici l'événement : <%=@event.title%></h1>
<p> Description : <%=@event.description%> </p>
<p> Créateur : <%=@event.admin.email%> </p>
<p> Nombre de participants : <%=@event.attendees.count%> </p>
<p> Date de début : <%=@event.start_date%> </p>
<p> Date de fin : <%=@end_date%> </p>
<p> Lieu : <%=@event.location%> </p>
<p> Prix : <%=@event.price%> €</p>